guard 'puma', :daemon => true, :port => 4001, :control_port => 9293, :environment => 'production', :bind => 'unix:///home/user/app/shared/sockets/puma.sock' do
  watch('Gemfile.lock')
  watch(%r{^app|config|lib/.*})
end
