guard 'puma', :daemon => true, :port => 4002, :control_port => 9294, :environment => 'development', :bind => 'unix:///home/user/app/shared/sockets/puma.sock' do
  watch('Gemfile.lock')
  watch(%r{^app|config|lib/.*})
end
