<div class="contact-info bottom">
  <h2>Contacts</h2>
  <address>
    E-mail: <a href="mailto:konovalov.nk@gmail.com">konovalov.nk@gmail.com</a> <br>
    Github: <a href="https://github.com/konovalov-nk">konovalov-nk</a> <br>
    LinkedIn: <a href="https://www.linkedin.com/in/konovalovnk">konovalovnk</a> <br>
    Skype: <a href="skype:konovalovnk@gmail.com?userinfo">konovalovnk@gmail.com</a> <br>
    StackOverflow: <a href="http://stackoverflow.com/users/2959158/nikolay-konovalov">Nikolay Konovalov</a> <br>
  </address>

  <h2>Location</h2>
  <address>
    Remote, it's 21st century already! <br>
  </address>
</div>
