<div class="copyright-text text-center">
  <p>&copy; br11k <%= Date.today.year %>. All Rights Reserved.</p>
  <p>Design by <a target="_blank" href="http://www.themeum.com">Themeum</a>, Graphics by <a target="_blank" href="https://twitter.com/dittodi">Ditto</a></p>
  <p>Icons made by

    <% @icon_authors = %w(madebyoliver flat-icons freepik) %>
    <% @icon_authors.each do |author| %>
        <%= link_to author, 'http://www.flaticon.com/authors/' + author
        %><%= ',' unless @icon_authors.last == author %>
    <% end %>

    from <a target="_blank" href="http://www.flaticon.com/">www.flaticon.com</a></p>
</div>