<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center bottom-separator">
        <%= image_tag 'triangle/home/under.png', alt: '', class: 'img-responsive inline' %>
      </div>
      <div class="col-md-offset-2 col-md-4 col-sm-6">
        <%= render 'layouts/contacts' %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= render 'layouts/contact_form' %>
      </div>
      <div class="col-sm-12">
        <%= render 'layouts/copyright' %>
      </div>
    </div>
  </div>
</footer>