<header id="header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 overflow">
        <div class="social-icons pull-right">
          <ul class="nav nav-pills">
            <li><a href="https://www.facebook.com/konovalov.nk"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/br11k"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://plus.google.com/+NikolayKonovalov"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="https://www.linkedin.com/in/konovalovnk"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <%= render 'layouts/navigation' %>
</header>
