$image-baseline-percent: 100%;
$image-baseline-mobile-percent: 78%;
$image-relative-cat: 76.7%;
$image-relative-chair: 58%;
$image-relative-tea: 90%;
$image-relative-display: 55.4%;
$image-relative-guitar: 18.4%;
$image-relative-mario: 92.5%;
$image-relative-plant: 60.7%;
$image-relative-table: 36.5%;

$image-mobile-cat: 62.7%;
$image-mobile-chair: 51%;
$image-mobile-tea: 71.5%;
$image-mobile-display: 49.3%;
$image-mobile-guitar: 15.8%;
$image-mobile-mario: 73%;
$image-mobile-plant: 52.5%;
$image-mobile-table: 36.5%;

$offset-mobile: -45px;
$image-mobile-cat-right: $offset-mobile + 216px;
$image-mobile-chair-right: $offset-mobile + 206px;
$image-mobile-tea-right: $offset-mobile + 308px;
$image-mobile-display-right: $offset-mobile + 182.5px;
$image-mobile-guitar-right: $offset-mobile + 95px;
$image-mobile-mario-right: $offset-mobile + 161px;
$image-mobile-plant-right: $offset-mobile + 65px;
$image-mobile-table-right: $offset-mobile + 63px;